mat-toolbar {
  background-color: rgba(206, 201, 201, 0.30);
  align-items: center;
  height: 80px;
  position: fixed;
}

.logo {
  width: 250px;
  height: 60px;
}

.leftSide {
  width: 50%;
  /*display: flex;*/
  justify-content: left;
  /*padding-bottom: 10px;*/
}

.rightSide {
  width: 50%;
  display: flex;
  justify-content: right;
  padding-top: 10px;
}

span{
  margin-right: 100px;
}

.leftSide button {
  margin-left: 30px;
  width: 70px;
  font-size: 20px;
}

.rightSide button {
  width: 50px;
  /*margin-top: 25px;*/

}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding-top: 3px;
}


.search-container mat-form-field input {
  height: 50px;
}
