.mainDiv {
  background-image: url("../../../assets/images/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%; /* Ensure image doesn't exceed viewport width */
}
