form {
  max-width: 400px;
  margin: auto;
  padding-top: 50px;
}

form:first-child {
    padding-top: 150px;
}

label, mat-label {
  display: block;
  margin-bottom: 5px;
  margin-top: 16px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  margin-top: 16px;
}

button:hover {
  background-color: #0056b3;
}